@font-face {
      font-family: DMSans;
      src: url(../Fonts/DMSans_24pt-Regular.ttf);
}
*, *::before, *::after{
      margin: 0;
      padding: 0;
      list-style: none;
      text-decoration: none;
      box-sizing: border-box;
}
body{
      min-height: 100vh;
      font-family: DMSans;
      background: #010718;
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;
}

.container{
      width: 246px;
      overflow: hidden;
}

.container .text{
      position: relative;
      color: #4070F4;
      font-size: 30px;
      font-weight: 600;
}

.container .text.first_text{
      color: #FFF;
}

.container .text.second_text::before{
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background: #010718;
      border-left: 2px solid #4070F4;
      animation: animate 4s steps(12) infinite;
      -webkit-animation: animate 4s steps(12) infinite;
}
@keyframes animate {
      40%, 60%{
            left: calc(100% + 4px);
      }
      100%{
            left: 0%;
      }
}